@import "./core/index";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: $primary-font;
  background-color: $primary-color;
    color: $secondary-color;

  @media only screen and (min-width: 1920px) {
    font-size: 16px;
  }
}

#root {
  height: 100%;
  width: 100%;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main-container {
  height: calc(100% - 8rem);
}